@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@100&display=swap');


/* Hide scrollbar */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*__________________________________________HEADER__________________________________________*/

#social-container{

  text-align: center;

  display:flex;
  
  list-style-type: none;

  align-items: center;

  justify-content: center;

  gap:7%;

  padding: 10px;

}

#header_h2{

  text-align: center;

  margin-top: 100px;

  margin-bottom: 100px;

}

#our_social_media{

  text-align: center;

  padding: 5%;

  font-size:48px;

}


#menu_selector ul{

  font-family: 'Open Sans', sans-serif;

  display: flex;

  justify-content: center;

  gap:25%;

  list-style: none;

  padding:0;

}

#menu_selector a{

  text-decoration: none;


}

#menu_selector nav{

  margin-top: 100px;

}

#menu_selector a:focus,#menu_selector a:hover{

  border-bottom: solid red;

  transition: 1s;

  background-color: black;

  color: white;

}


/*__________________________________________MAIN FORM__________________________________________*/


#send_form{

  font-family: 'Courier New', Courier, monospace;

  height: 300px;

}


#send_form h2 {

  text-align: center;

  margin-top: 80px;

  font-family: 'Open Sans', sans-serif;

}

#input_send_block{

  margin-top: 20px;

}

/*__________________________________________SETTINGS PAGES__________________________________________*/


#settings_page{

  font-family: 'Open Sans', sans-serif;

  margin-top: 80px;

  height:350px;

  margin: 0;
  padding: 0;

}


#settings_wrapper{

  background-color:#eae8e8;

  width:50%;

  height:250px;

  margin: 70px 25% 0;

  display: flex;

  border-radius: 2ch;

  flex-direction: column;

  justify-content: center;

}


#settings_wrapper div {

  margin-left:20px;

  display: flex;

  margin-bottom:30px;

}

#settings_wrapper p{

  margin-top:3px;

}

#settings_wrapper input[type="checkbox"] {

  margin-left:20px;

  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: #db0000;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;

}

#settings_wrapper input[type="checkbox"]::before {

  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  
  transition: 0.5s;
}

#settings_wrapper input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: #fff;
}


#settings_wrapper input[type="checkbox"]:checked {

  background: #00ed64;
}


#settings_wrapper input[type="text"]{

  border-radius:10px;

  width:300px;

  height:30px;

  margin-left: 20px;

  margin-top: -3px;

}

#settings_wrapper button {

  margin-top: -3px;

  margin-left: 20px;

  background-color: #000;

  color:white;

  border-radius:7px;

  height: 30px;

  cursor: pointer;

  box-shadow: #000;

}

#tor_togler{
  display: flex;
}