@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

#accounts_generator {

    margin: 0;

    padding: 0;

    margin-top:80px;

    height:350px;

    font-family: 'Open Sans', sans-serif;

    width:50%;

    margin-left:25%;
    
    margin-right:25%;

}



#send_form_inner {

    margin: 0;

    padding: 0;

    margin-top:80px;

    height:350px;

    font-family: 'Open Sans', sans-serif;

    width:50%;

    margin-left:25%;
    
    margin-right:25%;

}



#send_form_inner button{

    margin-top: 30px;

    width:100px;
  
    background-color: #000;
  
    color:white;
  
    border-radius:7px;
  
    height: 30px;
  
    cursor: pointer;
  
    box-shadow: #000;

}


a#download_accounts{

    text-decoration: none;
    color: white;

}